/* Đảm bảo container co giãn theo màn hình */
.container {
    width: 100%;
    max-width: 1200px; /* hoặc lớn hơn nếu bạn muốn */
    margin: 0 auto;
    box-sizing: border-box;
}

body { overflow-x: hidden; }
.sidebar {
    width: 220px; height: 100vh; position: fixed; background: #343a40; padding-top: 60px; color: white;
}
.sidebar a { color: #ddd; padding: 10px; display: flex; text-decoration: none; }
.sidebar a:hover, .sidebar a.active { background: #495057; color: #fff; }
.top-navbar { position: fixed; left: 220px; width: calc(100% - 220px); z-index: 1000; }
.main-content { margin-left: 220px; padding: 70px 20px 20px 20px; min-height: 100vh; transition: all 0.3s; }
.sidebar.hidden { margin-left: -220px; }
.main-content.full-width { margin-left: 0; }
.card { border-radius: 0.5rem; }
.nav-tabs .nav-link.active {
  color: var(
    --bs-primary-text-emphasis
  ) !important; /* đổi màu chữ khi active */
  background-color: var(--bs-light) !important; /* giữ nền sáng */
  border-color: var(--bs-primary) !important; /* viền theo màu chủ đạo */
}
.product-row {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}
.product-row::-webkit-scrollbar {
  height: 8px;
}

.product-row::-webkit-scrollbar-thumb {
  background-color: #dc35b0;
  border-radius: 4px;
}
.product-card {
  flex: 0 0 auto;
  width: 260px; /* kích thước card cố định cho cuộn ngang */
  scroll-snap-align: start;
}
.card-img-top {
  object-fit: cover;
  height: 180px;
}
.btn-group-custom {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.card .btn {
  padding: 0.25rem 0.5rem; /* giảm padding */
  font-size: 0.875rem;     /* chữ nhỏ hơn */
  border-radius: 0.5rem;
  letter-spacing: 0.2px;
}

.pagination {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* để có thể kéo ngang nếu tràn */
}

/* Cuả Phần Đăng Nhập */
.login-box {
    max-width: 430px; /* Giới hạn chiều rộng */
    margin: 100px auto; /* Canh giữa */
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* Đổ bóng */
}
.cart {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    padding: 2px 7px;
    border-radius: 50%;
    font-size: 12px;
}
.cart-bounce {
    animation: bounce 0.3s ease;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.4); }
    100% { transform: scale(1); }
}

.fixed-top {
  position: fixed;
  top: 10 !important; 
  right: 0;
  left: 0;
  z-index: 1030;
}